<footer>
	<div class="wrapper bgColor" style="--bg-color:{{settings.bg-footer | default: '#FFFFFF'}}">
		<div class="container">
			<div class="row">
				{%- if settings.fotCol1_show -%}
				<div class="col-lg-3 col-md-12 col-sm-12 col-12 mb-3 mb-lg-0 footerCol footerCol-1">
					<h4 class="footer-title">{{settings.fotCol1_title}}</h4>
					{%- if settings.use_footer_logo -%}
					<div class="logo-footer">
						<a href="/" title="{{ shop.name | strip }}" aria-label="Trang chủ - {{ shop.name | strip }}"><img loading="lazy" decoding="async" src="{{ 'logo-footer.png' | asset_url }}" class="lazyload" width="200" height="130" alt="{{ shop.name | strip }}"></a>
					</div>
					{%- endif -%}
					{%- if settings.use_footer_social -%}
					{%- include 'list-socials' with style:'social--border' -%}
					{%- endif -%}
					{%- if settings.use_footer_fanpage -%}
					<div class="fb-page" data-href="{{ settings.shop_fanpage }}" data-tabs="" data-width="300" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
						<blockquote cite="{{ settings.shop_fanpage }}" class="fb-xfbml-parse-ignore">
							<a href="{{ settings.shop_fanpage }}">{{ shop.name }}</a>
						</blockquote>
					</div>
					{%- endif -%}
				</div>
				{%- endif -%}
				{%- if settings.fotCol2_show -%}
				<div class="col-lg-3 col-md-6 col-sm-6 col-6 footerCol footerCol-2">
					<h4 class="footer-title">{{settings.fotCol2_title}}</h4>
					<ul class="footerNav-link">
						{%for link in linklists[settings.footer_linklist2_menu].links%}
						<li class="item">
							<a class="hover-underline" href="{{link.url}}" title="{{link.title}}">{{link.title}}</a>
						</li>
						{%endfor%}	
					</ul>
				</div>
				{%- endif -%}
				{%- if settings.fotCol3_show -%}
				<div class="col-lg-3 col-md-6 col-sm-6 col-6 footerCol footerCol-3">
					<h4 class="footer-title">{{settings.fotCol3_title}}</h4>
					<ul class="footerNav-link">
						{%for link in linklists[settings.footer_linklist3_menu].links%}
						<li class="item">
							<a class="hover-underline" href="{{link.url}}" title="{{link.title}}">{{link.title}}</a>
						</li>
						{%endfor%}	
					</ul>
				</div>
				{%- endif -%}
				{%- if settings.fotCol4_show -%}
				<div class="col-lg-3 col-md-6 col-sm-12 col-12 mt-3 mt-lg-0 footerCol footerCol-4">
					<h4 class="footer-title">{{settings.fotCol4_title}}</h4>
					<div class="footer-information">
						{%- if settings.shop_name != blank -%}
						<div class="shopname">{settings.shop_name}}</div>
						{%- endif -%}
						{%- if settings.shop_gpkd_1 != blank -%}
						<div class="certify">{settings.shop_gpkd_1}}</div>
						{%- endif -%}
						{%- if settings.shop_taxcode_1 != blank -%}
						<div class="taxcode">{settings.shop_taxcode_1}}</div>
						{%- endif -%}
						<ul class="shop-information">
							{%- if settings.shop_address_1 != empty -%}
							<li class="item-contact contact-address">
								<svg class="icon-svg"><use xlink:href="#ic-map"></use></svg>
								{{settings.shop_address_1}}
							</li>
							{%- endif -%}
							{%- if settings.shop_phone_1 != empty -%}
							<li class="item-contact contact-phone">
								<svg class="icon-svg"><use xlink:href="#ic-phone"></use></svg>
								<a class="hover-underline" href="tel:{{settings.shop_phone_1 | remove: ' ' | remove: '.'}}">{{settings.shop_phone_1}}</a>
							</li>
							{%- endif -%}
							{%- if settings.shop_email_1 != empty -%}
							<li class="item-contact contact-email">
								<svg class="icon-svg"><use xlink:href="#ic-mail"></use></svg>
								<a class="hover-underline" href="mailto:{{settings.shop_email_1}}">{{settings.shop_email_1}}</a>
							</li>
							{%- endif -%}
						</ul>
					</div>
					{%- if settings.use_bct -%}
					<div class="wrap-bct">
						<a href="{{settings.url_bct}}" target="_blank" rel="nofollow">
							<img width="180" height="70" class="noreset lazyload" loading="lazy" decoding="lazy" src="{{'logo_bct.png' | asset_url}}" alt="Bộ công thương">
						</a>
					</div>
					{%- endif -%}
				</div>
				{%- endif -%}
				{%- if settings.use_bct -%}
				<div class="wrap-bct col-12 d-block d-lg-none d-md-none">
					<a href="{{settings.url_bct}}" target="_blank" rel="nofollow">
						<img width="180" height="70" class="noreset lazyload" loading="lazy" decoding="lazy" src="{{'logo_bct.png' | asset_url}}" alt="Bộ công thương">
					</a>
				</div>
				{%- endif -%}
			</div>
			{%- if settings.use_copyright or settings.use_linklist_bottom-%}
			<div class="footer-bottom">
				<div class="flex-container">
					{%- if settings.use_copyright -%}
					<div class="footer-copyright">
						{%- if settings.copyright != blank-%}
						{{settings.copyright}}
						{%- else -%}
						<a href="{{ shop.url }}"> {{ shop.name }}</a>. 
						Copyright © {{ "now" | date: "%Y" }} {{ powered_by_link  | replace:'target=', 'rel="nofollow noopener" target=' }}
						{%- endif -%}
					</div>
					{%- endif -%}
					{%- if settings.use_linklist_bottom -%}
					<div class="footer-bottom-menu">
						<ul class="footerNav-link">
						{%for link in linklists[settings.menu_linklist_bottom].links%}
						<li class="item">
							<a class="hover-underline" href="{{link.url}}" title="{{link.title}}">{{link.title}}</a>
						</li>
						{%endfor%}	
					</ul>
					</div>
					{%- endif -%}
				</div>
			</div>
			{%- endif -%}
		</div>
	</div>
</footer>
