{% assign on_sale = false %}
{% if product.available and product.variants.first.compare_at_price > product.variants.first.price %}
{% assign on_sale = true %}
{% endif %}

{% comment %}Tính giá khuyến mãi{% endcomment %}
{% if product.variants.first.compare_at_price > product.variants.first.price %}
{% assign price_sale = 0 %}
{% assign price_sale = product.variants.first.compare_at_price | minus: product.variants.first.price | divided_by:product.variants.first.compare_at_price | times : 100 | round : 0 %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %} 

{%- assign label1 = '' -%}
{%- assign label2 = '' -%}
{%- for tag in product.tags -%}
{%- if tag contains 'label1_' -%}{%- assign label1 = tag | split: 'label1_' | last -%}{%- endif -%}
{%- if tag contains 'label2_' -%}{%- assign label2 = tag | split: 'label2_' | last -%}{%- endif -%}
{%- endfor -%}
<product-card class="product-card {{grid}}">
  <div class="product-loop">
	<div class="product-inner">
		<div class="proloop--image">
			<a href="{{ product.url }}" class="ratio-image" title="{{ product.title | strip }}" aria-label="{{ product.title | strip }}">
				<img class="lazyload" loading="lazy" decoding="async"
						 src="{%if product.images.size > 0%}{{ product.featured_image.src | product_img_url: 'master' }}{%else%}{{'no_image.jpg' | asset_url}}{%endif%}" 
						 width="300" height="300" alt="{{product.title}}">
			</a>
			{%- if on_sale -%}<span class="pro--price-percent">-{{price_sale}}%</span>{%- endif -%}
			{% if settings.promotion_hrvapp_use and settings.promotion_hrvapp == 'appcombo' or settings.promotion_hrvapp == 'appbuyxgety' %}
			<div class="gift product_gift_label d-none" data-id="{{product.id}}">
				<img class="noreset lazyload" loading="lazy" decoding="async" src="{{ settings.combo_icon }}" width="30" height="30" alt="Icon quà tặng">
			</div>
			{% endif %}
			{%- if label1 != '' or label2 != '' or sold_out -%}
			<div class="pro--list-tags">
				{%- if label1 != '' -%}<span class="tag-item" style="--proloop-label-bg: {{settings.label1_bg_color}};--proloop-label-text: {{settings.label1_text_color}};">{{label1}}</span>{%- endif -%}
				{%- if label2 != '' -%}<span class="tag-item" style="--proloop-label-bg: {{settings.label2_bg_color}};--proloop-label-text: {{settings.label2_text_color}};">{{label2}}</span>{%- endif -%}
				{%- if sold_out -%}<span class="tag-item soldout">{{settings.product_soldout}}</span>{%- endif -%}
			</div>
			{%- endif -%}
			<div class="proloop--action">
				<button type="button" class="js-loop-addtocart btn-addtocart" data-handle="{{ product.handle }}" aria-label="Thêm {{ product.title | strip }} vào giỏ">
					<svg class="icon-svg" aria-hidden="true"><use xlink:href="#ic-cart-plus"></use></svg>
				</button>
			</div>
			<div class="proloop--quickview">
				<button type="button" class="js-open-quickview btn-quickview" data-handle="{{ product.handle }}" aria-label="Xem nhanh {{ product.title | strip }}">
					<svg class="icon-svg" aria-hidden="true"><use xlink:href="#ic-eye"></use></svg>
				</button>
			</div>
		</div>
		<div class="proloop--detail">
			<h3 class="pro--title">
				<a href="{{ product.url }}" title="{{ product.title | strip }}">{{ product.title }}</a>
			</h3>
			<div class="block-proloop-price {%if price_sale%}highlight{%endif%}">
				<span class="pro--price">
					{%- if product.variants[0].price == 0 or settings.disable_shop_buying-%}
					<a href="{{settings.product_contact_url}}">{{settings.product_contact_title}}</a>
					{%- else -%}
					{{product.variants[0].price | money}}
					{%- endif -%}
				</span>
				{%- if on_sale -%}<span class="pro--price-original"><del>{{product.variants[0].compare_at_price | money}}</del></span>{%- endif -%}
			</div>
		</div>
	</div>
</div>
</product-card>
