<meta charset="utf-8" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=0' name='viewport' />
<meta name="revisit-after" content="1 day" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="HandheldFriendly" content="true">
<link rel="shortcut icon" href="{{ settings.favicon }}" type="image/png" />
<title>
  {{ page_title | strip_html }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} {{ shop.name }}{% endunless %}
</title>
{%- if page_description -%}	<meta name="description" content="{{ page_description | strip_html | strip_newlines }}" />{%- endif -%}	
<link rel="canonical" href="{{ canonical_url }}" />
<link rel="alternate" href="{{ canonical_url }}" hreflang="vi-vn" />	
<meta name="keywords" content="{{ shop.name }}">
{%if template contains 'search' %}	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
{% else %}<meta name="robots" content="index,follow,noodp">{%endif%} 
<meta http-equiv="x-dns-prefetch-control" content="on">

{% include 'fb-open-graph-tags' %}
{% include 'seo_head' %} 
