{%- if settings.use_topbar -%}
{%- capture schema_style_topbar -%}
  --topbar-bg: {{settings.topbar_bg | default: '#ffd600'}};
	--topbar-text: {{settings.topbar_text | default: '#ffffff'}};
  --topbar-hover: {{settings.topbar_text_hover | default: '#ffffff'}};
{%- endcapture -%}
<div class="block-topbar">
  {%- include 'link-css-preload' with css_file: 'topbar.css', blocking: true -%}
  <section class="topbar" style="{{schema_style_topbar-}}">
  	<div class="container">
  		<div class="wrapper">
  			<div class="topbar-social">
  				{%- include 'list-socials' with style:'social--border',link_style:true -%}
  			</div>
  			<div class="topbar-content position-relative swiperStyle">
  				<div class="swiper swiper-container js-swiper-slider" data-items="1" data-autoplay="true" data-speed="3000" data-margin="10" data-loop="true" data-nav="true">
  					<div class="swiper-wrapper">
  						{%- for i in (1..3) -%}
  						{%-capture show-%}useContent_topbar_{{i}}{%-endcapture-%}
  						{%-capture text-%}textContent_topbar_{{i}}{%-endcapture-%}
  						{%-capture url-%}urlContent_topbar_{{i}}{%-endcapture-%}
  						{%- if settings[show] -%}
  						<div class="swiper-slide">
  							<div class="topbar-item">
  								<a href="{{settings[url]}}" {{settings[text] | strip}}>{{settings[text]}}</a>
  							</div>
  						</div>
  						{%- endif -%}
  						{%- endfor -%}
  					</div>
  				</div>
          {%- include 'swiper-navigation' with style:"01" -%}
  			</div>
  			<div class="topbar-links">
  				{%- for i in (1..2) -%}
  				{%-capture show-%}useLink_topbar_{{i}}{%-endcapture-%}
  				{%-capture text-%}textLink_topbar_{{i}}{%-endcapture-%}
  				{%-capture url-%}urlLink_topbar_{{i}}{%-endcapture-%}
  				{%- if settings[show] -%}
  				<div class="links-item">
  					<a class="hover-underline" href="{{settings[url]}}" title="{{settings[text] | strip}}">{{settings[text]}}</a>
  				</div>
  				{%- endif -%}
  				{%- endfor -%}
  			</div>
  		</div>
  	</div>
  </section>
</div>
{%- endif -%}
