<div class="wrapper-filter">
	<div class="filter-box-scroll">
		<div class="boxscroll">			
			{%-if settings.show_collection_filter-%}
			<div class="layered-filter--group">
				<!-- ./filter color -->
				{%-if settings.use_color_filter-%}
				<div class="sidebar-box filter-group js-filter-parent sidebar-box--show" data-mb="sidebar-box--mb-color">
					<div class="sidebar-box--block">
						<div class="sidebar-box--subtitle">
							<span data-filter-title="{{settings.title_color_filter}}">{{settings.title_color_filter}}</span>
							<span class="icon-control"><svg class="icon-svg"><use xlink:href="#ic-chevron"></use></svg></span>
						</div>
						<div id="filter-color" class="sidebar-box--content filter-color js-filter-tag1">						
							<div class="content-list">
								<ul class="checkbox-list">
									{%- for i in (1..30) -%}
									{%- capture use -%}use_color_filter_{{i}}{%endcapture%}
									{%- capture name -%}name_color_filter_{{i}}{%endcapture%}
									{%- capture code%}code_color_filter_{{i}}{%endcapture%}
									{%- if settings[use] -%}
									<li class="">
										<input data-field="tag1" type="checkbox" id="data-color-p{{forloop.index}}" value="{{settings[name]}}" name="color-filter" data-filter="(tag:product=**{{settings[name]}})">
										<label for="data-color-p{{forloop.index}}">
											<span class="bg" style="{%unless settings[code] contains '#'%}background:url({{settings[code]}});background-size: 150% 150%;background-position: center;{%else%}background-color: {{settings[code]}}{%endunless%}"></span>
											<span>{{settings[name]}}</span>
										</label>
									</li>
									{%- endif -%}
									{%- endfor -%}
								</ul>
							</div>
						</div>
					</div>
				</div>
				{%-endif-%}
				<!-- ./filter metal -->
				{%-if settings.use_metal_filter-%}
				<div class="sidebar-box filter-group js-filter-parent sidebar-box--show" data-mb="sidebar-box--mb-fit">
					<div class="sidebar-box--block">
						<div class="sidebar-box--subtitle toggle-dropdown--btn">
							<span data-filter-title="{{settings.title_metal_filter}}">{{settings.title_metal_filter}}</span>
							<span class="icon-control"><svg class="icon-svg"><use xlink:href="#ic-chevron"></use></svg></span>
						</div>
						<div id="filter-fit" class="sidebar-box--content filter-fit js-filter-type">						
							<div class="content-list">
								<ul class="checkbox-list">
									{% for type in collection.all_types%}	
									<li>
										<input data-field="type" type="checkbox" id="data-type-p{{forloop.index}}" name="type"  value="{{type}}" data-filter="(product_type:product={{type | replace: '-', ''}})"/>
										<label for="data-type-p{{forloop.index}}">{{type}}</label>   
									</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
				{%-endif-%}				
				<!-- ./filter size (Kích thước) -->
				{%-if settings.use_size_filter-%}
				<div class="sidebar-box filter-group js-filter-parent sidebar-box--show" data-mb="sidebar-box--mb-size">
					<div class="sidebar-box--block">
						<div class="sidebar-box--subtitle">
							<span data-filter-title="{{settings.title_size_filter}}">{{settings.title_size_filter}}</span>
							<span class="icon-control"><svg class="icon-svg"><use xlink:href="#ic-chevron"></use></svg></span>
						</div>
						<div id="filter-size" class="sidebar-box--content filter-size js-filter-variant">
							<div class="content-list">
								{%-assign sizes = settings.values_size_filter | split:","-%}
								<ul class="checkbox-list">
                {% for size in sizes%}	
									<li>
										<input type="checkbox" id="data-size-p{{forloop.index}}" name="size" data-field="variant" value="{{size}}" data-filter="(variant:product={{size}})"/>
										<label for="data-size-p{{forloop.index}}">{{size}}</label>   
									</li>
									{% endfor %}
                </ul>
							</div>
						</div>
					</div>
				</div>
				{%-endif-%}
				<!-- ./filter price -->	
				{%-if settings.use_price_filter-%}    
				<div class="sidebar-box filter-group js-filter-parent sidebar-box--show" data-mb="sidebar-box--mb-price">
					<div class="sidebar-box--block">
						<div class="sidebar-box--subtitle">
							<span data-filter-title="{{settings.title_price_filter}}">{{settings.title_price_filter}}</span>
							<span class="icon-control"><svg class="icon-svg"><use xlink:href="#ic-chevron"></use></svg></span>
						</div>
						<div id="filter-price" class="sidebar-box--content toggle-dropdown--content filter-price js-filter-price">
							<div class="content-list">
								<ul class="checkbox-list">
									<li>
										<input data-field="price" type="checkbox" id="p1" name="cc" value="duoi-{{ settings.1_price_to | money | replace: ',','' | remove: '₫' }}" data-filter="(price:product<={{ settings.1_price_to }})" />
										<label for="p1"><span>Dưới</span> {{ settings.1_price_to | money | replace: ',','.' }}</label>   
									</li>
									<li>
										<input data-field="price" type="checkbox" id="p2" name="cc" value="{{ settings.2_price_from | money | replace: ',','' | remove: '₫' }}-{{ settings.2_price_to | money | replace: ',','' | remove: '₫' }}" data-filter="((price:product>{{ settings.2_price_from }})&amp;&amp;(price:product<={{ settings.2_price_to }}))"/>
										<label for="p2">{{ settings.2_price_from | money | replace: ',','.' }} - {{ settings.2_price_to | money | replace: ',','.' }}</label>   
									</li>
									<li>
										<input data-field="price" type="checkbox" id="p3" name="cc" value="{{ settings.3_price_from | money | replace: ',','' | remove: '₫' }}-{{ settings.3_price_to | money | replace: ',','' | remove: '₫' }}" data-filter="((price:product>{{ settings.3_price_from }})&amp;&amp;(price:product<={{ settings.3_price_to }}))"/>
										<label for="p3">{{ settings.3_price_from | money | replace: ',','.' }} - {{ settings.3_price_to | money | replace: ',','.' }}</label>   
									</li>
									<li>
										<input data-field="price" type="checkbox" id="p4" name="cc" value="{{ settings.4_price_from | money | replace: ',','' | remove: '₫' }}-{{ settings.4_price_to | money | replace: ',','' | remove: '₫' }}" data-filter="((price:product>{{ settings.4_price_from }})&amp;&amp;(price:product<={{ settings.4_price_to }}))"/>
										<label for="p4">{{ settings.4_price_from | money | replace: ',','.' }} - {{ settings.4_price_to | money | replace: ',','.' }}</label>   
									</li>
									<li>
										<input data-field="price" type="checkbox" id="p5" name="cc" value="tren-{{ settings.5_price_from | money | replace: ',','' | remove: '₫' }}" data-filter="(price:product>={{ settings.5_price_from }})"/>
										<label for="p5"><span>Trên</span> {{ settings.5_price_from | money | replace: ',','.' }}</label>   
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				{%-endif-%}		
				<!-- ./filter form dáng -->
				
				<div class="sidebar-box filter-group js-filter-parent sidebar-box--show" data-mb="sidebar-box--mb-fit">
					<div class="sidebar-box--block">
						<div class="sidebar-box--subtitle">
							<span data-filter-title="{{settings.title_form_filter}}">{{settings.title_form_filter}}</span>
							<span class="icon-control"><svg class="icon-svg"><use xlink:href="#ic-chevron"></use></svg></span>
						</div>
						<div id="filter-fit" class="sidebar-box--content filter-fit js-filter-vendor">						
							<div class="content-list">
								<ul class="checkbox-list">
									{% for vendor in collection.all_vendors%}	
									<li>
										<input type="checkbox" id="data-vendor-p{{forloop.index}}" name="vendor" data-field="vendor" value="{{vendor}}" data-filter="(vendor:product={{vendor}})"/>
										<label for="data-vendor-p{{forloop.index}}">{{vendor}}</label>   
									</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<div class="sidebar-box filter-group js-filter-parent sidebar-box--show" data-mb="sidebar-box--mb-sort">
					<div class="sidebar-box--block">
						<div class="sidebar-box--subtitle">
							<span>Sắp xếp theo</span>
							<span class="icon-control"><svg class="icon-svg"><use xlink:href="#ic-chevron"></use></svg></span>
						</div>
						<div id="filter-sort" class="sidebar-box--content filter-sort">						
							<div class="content-list sortBy sortby-option">
                <div class="sidebar-box--subtitle d-none">
    							<span data-filter-title="Sắp xếp theo">Sắp xếp theo</span>
    						</div>
								<ul class="radio-list checkbox-list">
									<li class="{%if collection.handle == 'all'%}default{%endif%}">
										<input type="radio" class="" value="manual" data-field="sortby" data-filter="" name="cfb-sort-input" id="cfb-sort-input-0">
										<label for="cfb-sort-input-0">Sản phẩm nổi bật</label>
									</li>
									<li>
										<input type="radio" class="" value="created-descending" data-field="sortby" data-filter="(updated_at:product=asc)" name="cfb-sort-input" id="cfb-sort-input-7">
										<label for="cfb-sort-input-7">Sản phẩm mới</label>
									</li>
									<li>
										<input type="radio" class="" value="best-selling" data-field="sortby" data-filter="(sold_quantity:product=desc)" name="cfb-sort-input" id="cfb-sort-input-8">
										<label for="cfb-sort-input-8">Bán chạy nhất</label>
									</li>
									<li>
										<input type="radio" class="" value="price-descending" data-field="sortby" data-filter="(price:product=desc)" name="cfb-sort-input" id="cfb-sort-input-3">
										<label for="cfb-sort-input-3">Giá cao nhất</label>
									</li>
									<li>
										<input type="radio" class="" value="price-ascending" data-field="sortby" data-filter="(price:product=asc)" name="cfb-sort-input" id="cfb-sort-input-2">
										<label for="cfb-sort-input-2">Giá thấp nhất</label>
									</li>
									<li class="d-none">
										<input type="radio" class="" value="title-ascending" data-field="sortby" data-filter="(title:product=asc)" name="cfb-sort-input" id="cfb-sort-input-4">
										<label for="cfb-sort-input-4">Tên: A-Z</label>
									</li>
									<li class="d-none">
										<input type="radio" class="" value="title-descending" data-field="sortby" data-filter="(title:product=desc)" name="cfb-sort-input" id="cfb-sort-input-5">
										<label for="cfb-sort-input-5">Tên: Z-A</label>
									</li>
									<li class="d-none">
										<input type="radio" class="" value="created-ascending" data-field="sortby" data-filter="(updated_at:product=desc)" name="cfb-sort-input" id="cfb-sort-input-6">
										<label for="cfb-sort-input-6">Cũ nhất</label>
									</li>
									<li class="d-none">
										<input type="radio" class="" value="quantity-descending" data-field="sortby" data-filter="(quantity:product=desc)" name="cfb-sort-input" id="cfb-sort-input-1">
										<label for="cfb-sort-input-1">Tồn kho giảm dần</label>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
        
      </div>
			{%-endif-%}	
		</div>
	</div>
</div>












