{%-layout none-%}
{%-paginate collection.products by settings.pagination_limit-%}
<div id="pagination">
	{%- if paginate.pages > 1 -%}
	<ul class="pagination js-pagination">
		{%- if paginate.previous -%}
		<li class="page-node">
			<a href="javascript:void(0);" data-link="m" title="{{ paginate.previous.title }}">
				<i class="fa fa-angle-double-left"></i>			
			</a>
		</li>
		{%- endif -%}
		{%- for part in paginate.parts -%}
		{%- if part.is_link -%}
		<li class="page-node">
			<a data-link="{{part.title}}" href="javascript:void(0);">{{part.title}}</a>
		</li>
		{%- else -%}
		<li class="page-node {%if part.title == paginate.current_page%}current{%endif%}">
			<span class="{%if part.title == paginate.current_page%}current{%endif%}">
				{{part.title}}
			</span>
		</li>		
		{%- endif -%}
		{%- endfor -%}
		{%- if paginate.next -%}
		<li class="page-node">
			<a href="javascript:void(0);" data-link="p" title="{{ paginate.next.title }}">
				<i class="fa fa-angle-double-right"></i>			
			</a>
		</li>
		{%- endif -%}
	</ul>
	{%- endif -%}
</div>
{%-endpaginate-%}