<div class="breadcrumb-shop">{%include 'breadcrumb'%}</div>
<div class="layout-account">
	<div class="container">

		<div class="wrapbox-content-account">
			<div class="row">
				<div class="col-xs-12 col-md-3 col-sm-12 sidebar-account">
					{% include 'sidebar-account' %}
				</div>	
				<div class="col-xs-12 col-md-9 col-sm-12" >	
					<div class="row wrap_content_address">
						<div class="col-md-6 col-sm-12 col-xs-12 wrap_editAddress">
					
							<div id="address_tables"> 
								{% for address in customer.addresses %}
								{%if address == customer.default_address %}
                  <div class="address_item">
								<div class="row" >
									<div class="col-lg-12 col-xs-12 clearfix">
										<div class="address_title ">
											<h3>
												<strong>{{address.last_name }} {{ address.first_name }}</strong>									
												<span class="default_address note">(Địa chỉ mặc định)</span>								
											</h3>
											<p class="address_actions text-right">
												<span class="action_link action_edit">{{ '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>' | edit_customer_address_link: address.id }}</span>
												<span class="action_link action_delete">{{ '<i class="fa fa-times" aria-hidden="true"></i>' | delete_customer_address_link: address.id }}</span>
											</p>
										</div>
									</div>
								</div>
								<div class="address_table">
									<div id="view_address_{{address.id}}" class="customer_address">
										<div class="view_address row">
											<div class="col-md-12 col-md-12 large_view">
												<p><strong>{{address.last_name }} {{ address.first_name }}</strong></p>
											</div>				
											
											{% if address.company  %}
											<div class="col-md-12 col-md-12 large_view">
												<div class="lb-left"><b>Công ty (nếu có):</b></div>
												<div class="lb-right"><p>{{ address.company }}</p> </div>
											</div>			
											{% endif %}
											<div class="col-md-12 col-md-12 large_view">
												<div class="lb-left"><b>Địa chỉ:</b></div>
												<div class="lb-right">
													<p>{{ address.address1 }}, {{ address.ward }}, {{ address.district }}, {{ address.province }}</p>
												</div>
											</div>
										
											<div class="col-md-12 col-md-12 large_view">
												<div class="lb-left"><b>Số điện thoại:</b></div>
												<div class="lb-right">{{ address.phone }}</div>
											</div>
										</div>
									</div>    
									<div id="edit_address_{{address.id}}" class="customer_address edit_address" style="display:none;">
										{% form 'customer_address', address %}
										
										<div class="input-group">
											<span class="input-ico"><i class="fa fa-user-o"></i></span>
											<td class="value"><input type="text" id="address_last_name_{{form.id}}" class="input-textbox textbox" name="address[last_name]"  size="40" value="{{form.last_name}}" placeholder="Họ">
										</div>
										

										<div class="input-group">
											<span class="input-ico"><i class="fa fa-user-o"></i></span>
											<input type="text" id="address_first_name_{{form.id}}" class="input-textbox textbox" name="address[first_name]"  size="40" value="{{form.first_name}}" placeholder="Tên và tên đệm">
										</div> 
										<div class="input-group">
											<span class="input-ico"><i class="fa fa-home"></i></span>
											<input type="text" id="address_address2_{{form.id}}" class="input-textbox textbox" name="address[address1]"  size="40" value="{{form.address1}}" placeholder="Số nhà, tên đường...">
										</div>
						

										<div class="input-group">
											<span class="input-ico"><i class="fa fa-map-marker"></i></span>          
											<select class="input-textbox" id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>          
										</div>
										<div class="input-group" id="address_province_container_{{address.id}}" style="display:none">        
											<span class="input-ico"><i class="fa fa-map-marker"></i></span>                    
											<select id="address_province_{{form.id}}" class="input-textbox" name="address[province]" data-default="{{form.province}}"></select>          
										</div>
                      <div class="input-group" id="address_district_container_{{address.id}}" style="display:none">        
                  	<span class="input-ico"><i class="fa fa-map-marker"></i></span>       
                        <select  class="input-textbox" required id="address_district_{{form.id}}" name="address[district]" data-default="{{form.district}}">
                    <option value="" disabled selected>Quận/Huyện</option>
                  </select>
                </div>
                <div class="input-group" id="address_ward_container_{{address.id}}" style="display:none">        
                  	<span class="input-ico"><i class="fa fa-map-marker"></i></span>       
                  <select required id="address_ward_{{form.id}}"  class="input-textbox"  name="address[ward]" data-default="{{form.ward}}">
                    <option value="" disabled selected>Phường/Xã</option>
                  </select>
                </div>

										<div class="input-group" style="display:none">
											<span class="input-ico"><i class="fa fa-map-marker"></i></span>     
											<input type="text" id="address_zip_{{form.id}}" class="input-textbox textbox" name="address[zip]"  size="40" value="{{form.zip}}" >
										</div>
										<div class="input-group">
											<span class="input-ico"><i class="fa fa-phone"></i></span>
											<input type="text" id="address_phone_{{form.id}}" class="input-textbox textbox" name="address[phone]"  size="40" value="{{form.phone}}" placeholder="Số điện thoại">
										</div>
										<div class="input-group">   
											{{ form.set_as_default_checkbox }}  Đặt làm địa chỉ mặc định.
										</div> 
										<div class="action_bottom">
											<input class="btn bt-primary" type="submit" value="Cập nhật" />
											<span class="">hoặc <a href="/" onclick="Haravan.CustomerAddress.toggleForm({{form.id}}); return false;">Hủy</a></span>
										</div>        
										{% endform %}
									</div>
								</div>
                  </div>
								{%endif%}
								{%endfor%}

								{% for address in customer.addresses%}
								{%unless address == customer.default_address%}
                  <div class="address_item">
								<div class="row" >
									<div class="col-lg-12 clearfix">
										<div class=" address_title ">
											<h3 >
												<strong>{{address.last_name }} {{ address.first_name }}</strong>									
											</h3>
											<p class="address_actions text-right">
												<span class="action_link action_edit">{{ '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>' | edit_customer_address_link: address.id }}</span>
												<span class="action_link action_delete">{{ '<i class="fa fa-times" aria-hidden="true"></i>' | delete_customer_address_link: address.id }}</span>
											</p>
										</div>
									</div>
								</div>
								<div class="address_table">
									<div id="view_address_{{address.id}}" class="customer_address">
										<div class="view_address row">
											<div class="col-md-12 col-md-12 large_view">
												<p><strong>{{address.last_name }} {{ address.first_name }}</strong></p>
											</div>										

											<div class="col-md-12 col-md-12 large_view">
												<div class="lb-left"><b>Địa chỉ:</b></div>
												<div class="lb-right">
													<p>{{ address.address1 }}</p>
													<p>{{ address.address2 }}</p>
													<p>{{ address.province }}, {{ address.country }} </p>
												</div>
											</div>									
											<div class="col-md-12 col-md-12 large_view">
												<div class="lb-left"><b>Số điện thoại:</b></div>
												<div class="lb-right">{{ address.phone }}</div>
											</div>
										</div>
									</div>    
									<div id="edit_address_{{address.id}}" class="customer_address edit_address" style="display:none;">
										{% form 'customer_address', address %}
									
										<div class="input-group">
											<span class="input-ico"><i class="fa fa-user-o"></i></span>
											<td class="value"><input type="text" id="address_last_name_{{form.id}}" class="input-textbox textbox" name="address[last_name]"  size="40" value="{{form.last_name}}" placeholder="Họ">
										</div>
										
										<div class="input-group">
											<span class="input-ico"><i class="fa fa-user-o"></i></span>
											<input type="text" id="address_first_name_{{form.id}}" class="input-textbox textbox" name="address[first_name]"  size="40" value="{{form.first_name}}" placeholder="Tên và tên đệm">
										</div>

										<div class="input-group">
											<span class="input-ico"><i class="fa fa-home" ></i></span>
											<input type="text" id="address_address2_{{form.id}}" class="input-textbox textbox" name="address[address1]"  size="40" value="{{form.address1}}" placeholder="Số nhà, tên đường...">
										</div>
							
										<div class="input-group">
											<span class="input-ico"><i class="fa fa-map-marker"></i></span>          
											<select class="input-textbox" id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>          
										</div>
										<div class="input-group" id="address_province_container_{{address.id}}" style="display:none">        
											<span class="input-ico"><i class="fa fa-map-marker"></i></span>                    
											<select id="address_province_{{form.id}}" class="input-textbox" name="address[province]" data-default="{{form.province}}"></select>          
										</div>
                      <div class="input-group" id="address_district_container_{{address.id}}" style="display:none">        
                 	<span class="input-ico"><i class="fa fa-map-marker"></i></span>        <select class="input-textbox" required id="address_district_{{form.id}}"  name="address[district]" data-default="{{form.district}}">
                    <option value="" disabled selected>Quận/Huyện</option>
                  </select>
                </div>
                <div class="input-group" id="address_ward_container_{{address.id}}" style="display:none">        
                  	<span class="input-ico"><i class="fa fa-map-marker"></i></span>       <select class="input-textbox" required id="address_ward_{{form.id}}"  name="address[ward]" data-default="{{form.ward}}">
                    <option value="" disabled selected>Phường/Xã</option>
                  </select>
                </div>
                    
										<div class="input-group" style="display:none">
											<span class="input-ico"><i class="glyphicon glyphicon-credit-card"></i></span>     
											<input type="text" id="address_zip_{{form.id}}" class="input-textbox textbox" name="address[zip]"  size="40" value="{{form.zip}}" >
										</div>
										<div class="input-group">
											<span class="input-ico"><i class="fa fa-phone"></i></span>
											<input type="text" id="address_phone_{{form.id}}" class="input-textbox textbox" name="address[phone]"  size="40" value="{{form.phone}}" placeholder="Số điện thoại">
										</div>
										<div class="input-group">   
											{{ form.set_as_default_checkbox }}  Đặt làm địa chỉ mặc định.
										</div> 
										<div class="action_bottom">
											<input class="btn bt-primary" type="submit" value="Cập nhật" />
											<span class="">hoặc <a href="/" onclick="Haravan.CustomerAddress.toggleForm({{form.id}}); return false;">Hủy</a></span>
										</div>        
										{% endform %}
									</div>
								</div>
                  </div>
								{%endunless%}
								{% endfor %}
							</div>
						</div>
						<div class="col-md-6 col-sm-12 col-xs-12 wrap_addAddress">
							<a href="#" onclick="Haravan.CustomerAddress.toggleNewForm(); return false;" class="add-new-address"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Tạo địa chỉ mới</a>
							<div id="add_address" class="customer_address add_address add_address_table" style="display:none;">
								{% form 'customer_address', customer.new_address %}
								
								<div class="input-group">
									<span class="input-ico"><i class="fa fa-user-o"></i></span>
									<td class="value"><input type="text" id="address_last_name_new" class="input-textbox textbox" name="address[last_name]"  size="40" value="{{ settings.lbl_last_name }}" placeholder="Họ" />
								</div>
								
								<div class="input-group">
									<span class="input-ico"><i class="fa fa-user-o"></i></span>
									<input type="text" id="address_first_name_new" class="input-textbox textbox" name="address[first_name]" size="40" value="{{ settings.lbl_first_name }}" placeholder="Tên và tên đệm" />
								</div>        					

								<div class="input-group">
									<span class="input-ico"><i class="fa fa-home"></i></span>
									<input type="text" id="address_address2_new" class="input-textbox textbox" name="address[address1]"  size="40" value="{{ settings.lbl_address1 }}" placeholder="Số nhà, tên đường..." />
								</div>
					


								<div class="input-group">
									<span class="input-ico"><i class="fa fa-map-marker"></i></span>          
									<select class="input-textbox textbox" id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>          
								</div>

								<div class="input-group" id="address_province_container_new" >        
									<span class="input-ico"><i class="fa fa-map-marker"></i></span>                    
									<select id="address_province_new" class="input-textbox textbox" name="address[province]" data-default="{{form.province}}"></select>          
								</div>
           <div class="input-group" id="address_district_container_new">
             	<span class="input-ico"><i class="fa fa-map-marker"></i></span>       
            <select required id="address_district_new" class="input-textbox" name="address[district]" data-default="{{form.district}}">
              <option value="" disabled selected>Quận/Huyện</option>
            </select>
          </div>
          <div class="input-group"  id="address_ward_container_new" >
            <span class="input-ico"><i class="fa fa-map-marker"></i></span>  
            <select required id="address_ward_new" class="input-textbox" name="address[ward]" data-default="{{form.ward}}">
              <option value="" disabled selected>Phường/Xã</option>
            </select>
          </div>

                
								<div class="input-group">
									<span class="input-ico"><i class="fa fa-phone"></i></span>
									<input type="text" id="address_phone_new" class="input-textbox textbox" name="address[phone]"  size="40" value="{{ settings.lbl_phone }}" placeholder="Số điện thoại"/>
								</div>
								<div class="input-group">          
									{{ form.set_as_default_checkbox }} Đặt làm địa chỉ mặc định.
								</div>
								<div class="action_bottom">
									<input class="btn btn-primary" type="submit" value="Thêm mới" />
									<span class="">hoặc <a href="#" onclick="Haravan.CustomerAddress.toggleNewForm(); return false;">Hủy</a></span>
								</div>
								{% endform %}
							</div>
						</div>
					</div>		 					
				</div>
			</div>
		</div>
	</div>
</div>

    
<script type="text/javascript" charset="utf-8">
  var AddressChange = function(id) {
    
    const $provinceContainer = $(`#address_province_container_${id}`)
    const $districtContainer = $(`#address_district_container_${id}`)
    const $wardContainer = $(`#address_ward_container_${id}`)
    const $province = $(`#address_province_${id}`);
    const $district = $(`#address_district_${id}`);
    const $ward = $(`#address_ward_${id}`);
      $districtContainer.show();
    $wardContainer.show();
  
    $district.val($district.data('default'))
    $ward.val($ward.data('default'))
 
    $district.find('option').each(function() {
        const $val = $(this).data('province')
        if (!$val || $val.includes($province.val())) {
            $(this).removeClass('hidden')
        }
    })
    $ward.find('option').each(function() {
        const $val = $(this).data('district')
        if (!$val || $val.includes($district.val())) {
            $(this).removeClass('hidden')
        }
    })
    
    

  }
    let districthtml="";
   let wardhtml="";
  function filterOptions($select, filterKey, filterValue) {

    if(filterKey=='province')
    {
       $select.html(districthtml)
    }
   if(filterKey=='district')
    {
      $select.html(wardhtml)
    }    
   
    $select.find('option').each(function() {
      if (!$(this).data(filterKey) || ( $(this).data(filterKey).includes(filterValue) && filterKey=='province') || ( $(this).data(filterKey).includes(filterValue+",") && filterKey=='district')) {
       
      } else {
        $(this).remove()
      }
    });
    $select.val($select.data('default'));
  }

  async function getDistrictsWards() {
    try {
      const [districts, wards] = await Promise.all([
       $.getJSON("//theme.hstatic.net/1000343028/1001270212/14/districts.js?v=38"),
        $.getJSON("//theme.hstatic.net/1000343028/1001270212/14/wards.js?v=38")
      ]);
      
      const html_district = districts.map(({ name_with_type, path }) => `<option value="${name_with_type}" data-province="${path}" >${name_with_type}</option>`);
      const html_ward = wards.map(({ name_with_type, path_with_type }) => `<option value="${name_with_type}" data-district="${path_with_type}" >${name_with_type}</option>`);
      
      $('[name="address[district]"]').append(html_district.join(''));
      districthtml= $('[name="address[district]"]').html();
      $('[name="address[ward]"]').append(html_ward.join(''));
      wardhtml=$('[name="address[ward]"]').html();
    } catch (error) {
      console.error('Error fetching data:', error);
    }
  }

  document.addEventListener('DOMContentLoaded', async function() {
  	// initialize observers on address selectors
    await getDistrictsWards()
  new Haravan.CountryProvinceSelector('address_country_new', 'address_province_new', {hideElement: 'address_province_container_new'});  
    new AddressChange('new');
    
  	{% for address in customer.addresses %}
  	new Haravan.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {hideElement: 'address_province_container_{{address.id}}'});
    new AddressChange('{{address.id}}');
    
  	{% endfor %}

    $('[name="address[province]"]').on('change', function() {
      const $val = $(this).val();
      const $parents = $(this).parents('form');
      filterOptions($parents.find('[name="address[district]"]'), 'province', $val);
      $parents.find('[name="address[ward]"]').val('');
     
    });
    
    $('[name="address[district]"]').on('change', function() {
        const $val = $(this).val();
        const $parents = $(this).parents('form');
        filterOptions($parents.find('[name="address[ward]"]'), 'district', $val);
    });

    
let selectElement = document.getElementById('address_country_new');
selectElement.value = 'Vietnam';
let event = new Event('change');
selectElement.dispatchEvent(event);
 $('[name="address[province]"]') .each(function(){
   let selectElement = document.getElementById( this.id);
let event = new Event('change');
  selectElement.dispatchEvent(event);
 }) 
 $('[name="address[district]"]') .each(function(){
   let selectElement = document.getElementById( this.id);
   
let event = new Event('change');
selectElement.dispatchEvent(event);
 }) 

    
  });
</script>

