{%- layout none -%}

{%- assign menuHandle = settings.main_menu -%}
{%- assign checkMegaBaner = false-%}
{%- if settings.use_megaBanner_banner1_1 or settings.use_megaBanner_banner1_2 or settings.use_megaBanner_banner1_3 or settings.use_megaBanner_banner1_4-%}
{%- assign checkMegaBaner = true-%}
{%- endif -%}

{%- capture megaBanner -%}
{%- for i in (1..4) -%}
{%- capture show -%}use_megaBanner_banner1_{{i}}{%- endcapture -%}
{%- capture title -%}title_megaBanner_banner1_{{i}}{%- endcapture -%}
{%- capture image -%}image_megaBanner_banner1_{{i}}.png{%- endcapture -%}
{%- capture imageMb -%}imageMb_megaBanner_banner1_{{i}}.png{%- endcapture -%}
{%- capture url -%}url_megaBanner_banner1_{{i}}{%- endcapture -%}
{%- if settings[show] -%}
<div class="banner--item">
	<a href="{{settings[url]}}" class="ratio-image d-block zoomIn">
		<picture>
			<source media="(max-width:991px)" srcset="{{imageMb | asset_url}}" loading="lazy" decoding="async" fetchpriority="low">
			<source media="(min-width:992px)" srcset="{{image | asset_url}}" loading="lazy" decoding="async" fetchpriority="low">
			<img class="lazyload" src="{{ image | asset_url }}" alt="{{settings[title] | default: 'Mega banner' | strip}}" width="500" height="500" loading="lazy" decoding="async" fetchpriority="low">
		</picture>
		{%- if settings[title] != blank -%}
		<span class="title">{{settings[title]}}</span>
		{%- endif -%}
	</a>
</div>
{%- endif -%}
{%- endfor -%}
{%- endcapture -%}
<div class="navbar-wrapper hidden-scrollbar">
	<ul class="mainMenu">
		{%- for link in linklists[menuHandle].links -%}
		{%-capture showMega-%}use_megaBanner_{{forloop.index}}{%-endcapture-%}
		{%-capture nameMega-%}name_megaBanner_{{forloop.index}}{%-endcapture-%}
		{% if linklists[link.handle].links == empty -%}
		<li class="menu-item menu-lv1">
			<div class="menu--title">
				<a href="{{link.url}}">{{link.title}}</a>
			</div>
		</li>
		{%- else -%}
		<li class="menu-item menu-lv1 menu-dropdown {%if settings.use_megaBanner_1 and settings.name_megaBanner_1 == link.title%}menu-mega{%endif%}">
			<div class="menu--title">
				<a href="{{link.url}}">{{link.title}}</a>
				<span class="dropdown-icon"><svg class="icon-svg"><use xlink:href="#ic-chevron"></use></svg></span>
			</div>
			{%- if settings.use_megaBanner_1 and settings.name_megaBanner_1 == link.title  -%}
			<div class="submenu megaMenu-wrapper">
				<div class="megaMenu-list">
					{%- for lv2 in linklists[link.handle].links -%}
					<div class="megaMenu--column">
						<div class="menu--title">
							<a class="hover-underline" href="{{lv2.url}}">{{lv2.title}}</a>
							{%- if linklists[lv2.handle].links != empty -%}
							<span class="dropdown-icon"><svg class="icon-svg"><use xlink:href="#ic-chevron"></use></svg></span>
							{%- endif -%}
						</div>
						{%- if linklists[lv2.handle].links != empty -%}
						<ul class="submenu">
							{%- for lv3 in linklists[lv2.handle].links -%}
							<li><a class="hover-underline" href="{{lv3.url}}">{{lv3.title}}</a></li>
							{%- endfor -%}
						</ul>
						{%- endif -%}
					</div>
					{%- endfor -%}
					
					{%- if checkMegaBaner -%}
					<div class="megaMenu--banner">
						{{megaBanner}}
					</div>
					{%- endif -%}
				</div>
			</div>
			{%- else -%}
			<ul class="submenu submenu-list"> 
				{%- for lv2 in linklists[link.handle].links -%}
				{%- if linklists[lv2.handle].links == empty -%}
				<li class="menu-item menu-lv2">
					<div class="menu--title">
						<a href="{{lv2.url}}">{{lv2.title}}</a>
					</div>
				</li>
				{%- else -%}
				<li class="menu-item menu-lv2 menu-dropdown">
					<div class="menu--title">
						<a class="hover-underline" href="{{lv2.url}}">{{lv2.title}}</a>
						<span class="dropdown-icon"><svg class="icon-svg"><use xlink:href="#ic-chevron"></use></svg></span>
					</div>
					<ul class="submenu submenu-list">
						{%- for lv3 in linklists[lv2.handle].links -%}
						{% if linklists[lv3.handle].links == empty -%}
						<li class="menu-item menu-lv3 menu-lv-all">
							<div class="menu--title">
								<a class="hover-underline" href="{{lv3.url}}">{{lv3.title}}</a>
							</div>
						</li>
						{%- else -%}
						<li class="menu-item menu-lv3 menu-lv-all">
							<div class="menu--title">
								<a class="hover-underline" href="{{lv3.url}}">{{lv3.title}}</a>
							</div>
						</li>
						{%- endif -%}
						{%- endfor -%}
					</ul>
				</li>
				{%- endif -%}
				{%- endfor -%}
			</ul>
			{%- endif -%}
		</li>
		{%- endif -%}
		{%- endfor -%}
	</ul>
</div>

<div class="navbar-bottom">
	{%- include 'list-socials' -%}
	{%- if settings.support_text != blank-%}
	<div class="text-support">
		{{settings.support_text}} <a href="tel:{{settings.support_url | remove: ' ' | remove: '.' }}" rel="nofollow">{{settings.support_url}}</a>
	</div>
	{%- endif -%}
</div>